.project-title-section {
	/* display: flex; */
	/* align-items: baseline; */
	margin-bottom: 0.4em;
}

.project-title-section * {
	padding-right: 0.5em;
}

.project-title-section section {
	display: flex;
	justify-content: space-between;
}