@media all {
  .container {
    width: 7.7in;
    height: 11in;
  }

  div.title {
    text-align: center;
    font-size: 26px;
  }

  div.center-align {
    text-align: center;
  }

  div.left-align {
    text-align: left;
  }

  div.right-align {
    text-align: right;
  }

  div.info {
    font-size: 11px;
  }

  div.margin-top {
    margin-top: 10px;
  }

  div.header {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
  }

  div.detail-header {
    margin-left: 2em;
    font-size: 13px;
    font-style: italic;
  }

  div.co-op-info {
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
  }

  div.content {
    margin-left: 2em;
    font-size: 12px;
  }

  div.detail-content {
    margin-left: 4em;
    font-size: 12px;
  }

  div.blank {
    color: white!important;
  }
}
