@page {
	/* set so that printing has small default margins */
	margin: 0mm;
}

@media screen {
	/* try to make the page print-like */
	body {
		width: 8.5in;
	}
}

@media screen, print {
	html {
		margin: 0px;
	}
	body {
		font-family: 'Poppins', sans-serif;
		font-size: 0.8em;
		color: #243745;
		text-align: justify;

		/* print background colors */
		-webkit-print-color-adjust: exact;

		/* kill all margin */
		margin: auto;
		margin-top: -1em;

		/*this allows for \n to be processed as line breaks */
		white-space: pre-line;
	}

	main {
		margin: 5mm;
	}

}
