.section-break-container {
	display: grid;
	gap: 0.5em;
	white-space: normal;
	margin: 0.2em 0;
	font-size: 1.3em;
	grid-template-columns: 3em auto 1fr;
}

.section-break {
	width: 100%;
	margin: 0.5em 0em;
	border-top: 0.2em;
	border-bottom: 0.2em;
	border-radius: 1em;
	border-style: solid;
	visibility: visible;
}

.section-break[dark="dark"] {
	background-color: #465b6b;
	border-color: #465b6b;
}

.section-break[medium="medium"] {
	background-color: #748796;
	border-color: #748796;
}

.section-break[light="light"] {
	background-color: #c0cfd9;
	border-color: #c0cfd9;
}
